.contribuicoes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}

.lista-contribuicoes {
  padding-right: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  list-style: none;

  & .item_numeros {
    color:var(--cor2-vinho);
    font-size: 60px;
    font-weight: 600;
  }

  & .item_tipos {
    color: var( --cor4-azul);
    font-size: 18px;
    font-weight: 500;
  }

  & .itens_description {
    color: var(--cor3-cinza);
    
  }

  & li {
    padding-bottom: 12px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contribuicoes {
    width: 100vw;
    overflow-x: hidden;
  }
  
  .lista-contribuicoes {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%; 
    width: 100%;
    
    & .item_numeros {
      font-size: 50px;
    }
} 
}

@media screen and (max-width: 767px) {
  .contribuicoes {
    overflow-x: hidden;
  }

  .lista-contribuicoes {
    align-items: center;
    columns: 1;
    width: 100%;
    
    & .item_numeros {
      font-size: 35px;
    }
} 
}