.contribuicoes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.lista-contribuicoes {
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  list-style: none;

  & .item_numeros {
    color:var(--cor2-vinho);
    font-size: 60px;
    font-weight: 600;
  }

  & .item_tipos {
    color: var( --cor4-azul);
    font-size: 18px;
    font-weight: 500;
  }

  & .itens_description {
    color: var(--cor3-cinza);
    
  }

  & li {
    padding-bottom: 12px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .lista-contribuicoes {
    padding-left: 10%;
    columns: 2;
    
    & .item_numeros {
      font-size: 50px;
    }
} 
}