.container_vagas {
  margin: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .destaque_text {
    background-color: #8e24240f;
    color: var(--cor2-vinho);
    font-size: 14px;
    font-weight: 500;
    border-radius: 16px;
    padding: 4px 12px;
  }

  & h2 {
    color: var(--cor4-azul);
    font-size: 36px;
    font-weight: 700;

    padding: 1rem 1.25rem;
  }

  & p {
    color: var(--cor3-cinza);
    font-size: 20px;
    
  }

 & .imagem_equipe {
   padding-top: 5rem;
   width: 80vw;
 }

}

  /* TIPOS DE VAGAS */
.tipos_vagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
  transform: translate(0, -15%);
  
  & .info_text {
    margin: 0.6em;
    width: 768px;
    color: var(--cor4-azul);
    font-size: 20px;
    font-weight: 500;
  }
}

.info_Vaga {
  border: 1px solid #8e24240f;
  border-radius: 16px;
  padding: 1.5rem 1.8rem;
  width: 40vw;
  
  & h3 {
    padding-bottom: 2rem;
    font-size: 18px;
    font-weight: 500;
  }

  & span {
    padding-right: 1.5rem;
    color: var(--cor3-cinza);
    font-weight: 500;
  }
}


        /* Tablets */
@media screen and (min-width: 768px) and (max-width: 1280px) {

  .container_vagas {
  & h2 {
    font-size: 30px;
  }

  & p {
    font-size: 18px;
  }

 & .imagem_equipe {
   padding: 2rem 1.5rem 3.5rem 1.5rem;
   width: 90vw;
 }
}

.tipos_vagas {
  width: 110%;
}

.info_Vaga {
  margin-right: 2em;
  width: 90vw;
  
}
}


    /* Celulares */

@media screen and (max-width: 767px) {
  .container_vagas {
    text-align: center;

    & h2 {
      font-size: 22px;
    }
  
    & p {
      font-size: 16px;
    }
  
   & .imagem_equipe {
    padding: 2rem 1.5rem 3.5rem 1.5rem;
     width: 95vw;
   }
  }

  .tipos_vagas {
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;

    &  span {
      font-size: 14px;
    }
  }
  
  .info_Vaga {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  }


